@import '~normalize.css';
@import './assets/font-icons/fonts.css';

/* Resets */
ol, ul {
  list-style: none;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* /Resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-size: 1px;
}

body {
  font-size: 16rem;
}